@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
@import './variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: $color-text;
    background-color: $color-background;
    -webkit-font-smoothing: antialiased;

    input, 
    button, 
    textarea {
        font-family: 'Roboto', sans-serif;
    }

    button {
        cursor: pointer;
    }
}

.pageTitle {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 30px;
    color: $color-text-dark;
}

.buttonPrimary {
    border: none;
    background: $color-primary;
    color: #fff;
    font-weight: bold;
    width: 100%;
    display: block;
    padding: 18px 24px;
    border-radius: 8px;
    font-size: 18px;
    transition: all .3s ease;
    text-align: center;
    text-decoration: none;

    &:hover {
        background-color: darken($color-primary, 10%);
    }
}

.auth-link {
    margin-top: 40px;
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
    font-weight: 500;

    span {
        margin-left: 10px;
    }
}

input,
textarea {
    width: 100%;
    display: block;
    padding: 18px 24px;
    border-radius: 8px;
    font-size: 18px;
    border: solid 1px #DCDCE6;
    margin-bottom: 15px;
    resize: vertical;
    color: $color-text;

    &:active,
    &:focus {
        outline: none;
        box-shadow: none;
    }

    &::placeholder {
        color: #A8A8B3;
    }
}